<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collection and Analytics</title>

    <link rel="stylesheet" href="/static/app.css">
    <script src="/static/app.js" defer></script>
</head>
<body>
    <header>
        <h2>Data Collection and Analytics</h2>
    </header>
    <div class="layout">

        <nav id="mySidebar" class="sidebar">
            <a>Dashboard</a>
            <a>Questionnaire</a>
        </nav>

        <main class="content">

            <button class="openbtn" onclick="toggleSidebar()">
                ☰ 
            </button>

            <h2>Application Dashboard</h2>

            <div class="app-content">
                Add app here
            </div>

        </main>

    </div>

    <footer>
        <p>
            Eastern Michigan University COSC 381 - Software Engineering Solutions
        </p>
    </footer>
</body>
</html>