<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Engineering Solutions</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>

    <header>
        <h1>COSC 381 - Software Engineering Solutions</h1>
        <p>
            Delivering custom software, data collection and analytics in a hybrid python and web based environment.
        </p>

    <section class="projects">

        <div class="container">

            <h2 class="section-title">Featured Project</h2>

            <div class="project-grid">

                <div class="project">
                    <h3>Web API for data collection</h3>
                    <p>
                        Data collection from a web front end with Python backend APIs and SQL data storage.
                    </p>
                </div>

                <a href="/app">
                <div class="project">
                    <h3>Web Dashboard and analytic views</h3>
                    <p>
                        Processing and analyzing collected data and displaying ina web portal. 
                    </p>
                </div></a>

                <div class="project">
                    <h3>Python Backend Web API detail</h3>
                    <p>
                        Python API details.
                    </p>
                </div>

            </div>

        </div>

    </section>

    <section class="contact">

        <h2>Ready to Build Something Great?</h2>

        <p>
            COSC Group 2 Building solutions together!
        </p>

    </section>

    <footer>
        <p>
            Eastern Michigan University COSC 381 - Software Engineering Solutions
        </p>
    </footer>

</body>
</html>